@{
    ViewData["Title"] = "Admin Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var lstOrder = ViewData["lstOrder"] as IEnumerable<Order>;
    var lstOrderItem = ViewData["lstOrderItem"] as IEnumerable<OrderItem>;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Products</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Hủy đơn hàng</th>
                            <th scope="col">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstOrder != null && lstOrderItem !=null)
                        {
                            @for (var i = 0; i < lstOrder.Count(); i++)
                            {
                                var order = lstOrder.ElementAtOrDefault(i);
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.OrderDate</td>
                            <td>@order.TotalPrice VND</td>
                            <td>@order.Status</td>
                            <td>
                            <td>
                                @if (order.Status == "Pending")
                                {
                                    <form method="post" asp-action="ConfirmOrder" asp-route-orderId="@order.OrderId">
                                        <button class="btn btn-success" type="submit">Xác nhận đơn hàng</button>
                                    </form>
                                    <form method="post" asp-action="CancelOrder" asp-route-orderId="@order.OrderId">
                                        <button class="btn btn-danger" type="submit">Hủy đơn hàng</button>
                                    </form>
                                }
                                else
                                {
                                    <p>Đơn hàng không thể hủy.</p>
                                }
                            </td>
                            </td>
                            <td><a asp-action="OrderDetails" asp-route-orderId="@order.OrderId">View Detail</a></td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">No orders available.</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
