@{
    ViewData["Title"] = "Home Page";
    var lstProduct = ViewData["lstProduct"] as IEnumerable<Product>;
}
@{
    Layout = "_HomeLayout";
}

<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Danh mục sản phẩm</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Điện thoại <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Iphone" class="dropdown-item">Iphone</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Samsung" class="dropdown-item">Samsung</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Oppo" class="dropdown-item">Oppo</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Xiaomi" class="dropdown-item">Xiaomi</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Nokia" class="dropdown-item">Nokia</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Realme" class="dropdown-item">Realme</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Vivo" class="dropdown-item">Vivo</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="" class="dropdown-item">Khác...</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Laptop<i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Dell" class="dropdown-item">Dell</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Asus" class="dropdown-item">Asus</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Lenovo" class="dropdown-item">Lenovo</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Acer" class="dropdown-item">Acer</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="Macbook" class="dropdown-item">Macbook</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="HP" class="dropdown-item">HP</a>
                            <a asp-controller="Product" asp-action="Index" asp-route-childname="" class="dropdown-item">Khác...</a>
                        </div>
                    </div>
                    <a asp-controller="Product" asp-action="Index" asp-route-childname="Máy tính" class="nav-item nav-link">Máy tính - PC</a>
                    <a asp-controller="Product" asp-action="Index" asp-route-childname="Đồng hồ" class="nav-item nav-link">Đồng hồ</a>
                    <a asp-controller="Product" asp-action="Index" asp-route-childname="Tivi" class="nav-item nav-link">Tivi</a>
                    <a asp-controller="Product" asp-action="Index" asp-route-childname="Tai nghe" class="nav-item nav-link">Tai nghe</a>
                    <a asp-controller="Product" asp-action="Index" asp-route-childname="Phụ kiện" class="nav-item nav-link">Phụ kiện</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Electronic Store</span></h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Trang chủ</a>
                        <a asp-controller="Product" asp-action="Index" class="nav-item nav-link active">Sản phẩm</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-item nav-link">Đăng nhập</a>
                        <a href="" class="nav-item nav-link">Đăng ký</a>
                    </div>
                </div>
            </nav>
            <!-- Navbar Start -->
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 650px;">
                        <img class="img-fluid" src="~/images/Iphone.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% đơn hàng đầu tiên</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Iphone 15</h3>
                                <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 650px;">
                        <img class="img-fluid" src="~/images/Iphone1.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% đơn hàng đầu tiên</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Giá cả hợp lý</h3>
                                <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
            <!-- Navbar End -->
        </div>
        <!-- New 5 product-->
        <div class="container-fluid py-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Sản phẩm mới</span></h2>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="row px-xl-5 pb-2">
                        @if (lstProduct != null)
                        {
                            @for (var i = 0; i < 6; i++)
                            {
                                var product = lstProduct.ElementAtOrDefault(i);

                                <div class="col-lg-2 col-md-6 col-sm-12 pb-1">
                                    <div class="card product-item border-0 mb-4">
                                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" src="~/images/@product.Image" alt="@product.Image"
                                                 style="width: 100%; height: 250px; object-fit: cover">
                                        </div>
                                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3"><a asp-controller="Product" asp-action="Detail" asp-route-ID="@product.ProductId">@product.ProductName</a></h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>@product.Price</h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-ID="@product.ProductId" class="btn btn-sm text-dark p-0">
                                                <i class="fas fa-eye text-primary mr-1"></i>View Detail
                                            </a>
                                            <a href="" class="btn btn-sm text-dark p-0">
                                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <table>
                                <tbody>
                                    <tr>
                                        <td colspan="8">No products available.</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
