<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Layout.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Ecommerce Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">🏠 Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login/Sign-up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">🛒 Cart(@*cartItems*@0)</a>
                    </li>
                </ul>
    <!--<ul class="navbar-nav ml-auto">\-->
    @* UserName *@
    @*<li class="nav-item">
            <a class="nav-link"href="#">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cart(0)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">UserName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>*@
    @* Seller user *@
    @*<li class="nav-item" *ngSwitchCase="'seller'">
            <a class="nav-link" routerLink="seller-add-product">Add Product</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'seller'">
            <a class="nav-link" routerLink="seller-home">List</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'seller'">
            <a class="nav-link" routerLink="seller-orders">Orders</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'seller'">
            <a class="nav-link">{{sellerName | titlecase}}</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'seller'">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>*@
    <!--</ul>-->
    </div>
    </nav>
    </header>
     <div class="container">
        <div class="row">
            <div class="col-lg-3 ml-lg-auto">
                <!-- Danh mục sản phẩm -->
                <div class="category-frame">
                    <h2>Category</h2>
                    <ul>Điện thoại</ul>
                    <ul>Máy tính</ul>
                    <ul>Laptop</ul>
                    <ul>Đồng hồ</ul>
                    <ul>Tivi</ul>
                    <ul>Tai nghe</ul>
                    <ul>Phụ kiện</ul>
                    @*<ul>
                        @foreach (var cat in Model.ListCategories)
                        {
                            <li>
                                <a asp-controller="YourController" asp-action="Search" asp-route-name="@cat.Name">@cat.Name</a>
                            </li>
                        }
                         </ul>*@
                </div>
                <div class="col-lg-9 ml-lg-auto">
                    <div class="product-list-wrapper">
                        <h1>Danh sách sản phẩm</h1>
                        @RenderBody();
                    </div>
                    <div class="pagination">
                        <!-- Thêm phần phân trang ở đây nếu cần -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>